<div class="dashboard-header">
    <div class="container">
        <h5 class="user">Deposit</h5>
    </div>
</div>
<div class="container img-thumbnail" *ngIf="card">
    <h6 class="text-center">Deposit</h6>
    <div class="container">
        <p class="enter">Enter Amount</p>
        <hr>
        <form #depositForm="ngForm" (ngSubmit)="depositMoney()">
            <p class="idk">Amount</p>
            <input #money="ngModel" [(ngModel)]="card.money"
            class="adhar-input" type="number" name="money" placeholder="money" min="0">
            <button class="btn btn-block" type="submit">Deposit</button>
        </form>
    </div>
</div>
