<div class="dashboard-header">
    <div class="container">
        <h5 class="user">User Management</h5>
    </div>
</div>
<div class="container img-thumbnail" *ngIf="user">
    <h6 class="text-center">Transact Money</h6>
    <div class="container">
        <p class="enter">User Details</p>
        <hr>
        <form #transactMoneyForm ="ngForm" (ngSubmit)="transactMoney()" >
            <div class="row">
                <div class="col-lg-6">
                    <p class="idk">How much?</p>
                    <input #money="ngModel" [(ngModel)]="user.money" 
                    class="adhar-input" type="number" name="money" placeholder="money" min="0">
                    <p class="idk">Iban code</p>
                    <input #iban="ngModel" [(ngModel)]="user.iban" 
                    class="adhar-input" type="text" name="iban" placeholder="iban">
                </div>
            </div>
            <button class="btn btn-sm btn-block" type="submit">Transact</button>
        </form>
    </div>
</div>